@import "_mixin.scss";
@import "_variable.scss";
@import "_font.scss";

.db-x-regular{
	font-family: 'DB Helvethaica X 55';
	font-weight: normal;
 	font-style: normal;
}
.db-litt{
	font-family: 'DB Helvethaica X Reg';
	font-weight: normal;
 	font-style: normal;
}

.db-med-65{
	font-family: 'DB Helvethaica X 65 Med';
	font-weight: normal;
 	font-style: normal;
}
.db-li{
	font-family: 'DB Helvethaica X Li';
}
.db-x-bd{
	font-family: 'DB Helvethaica X Bd';
}
.f-18{
	font-size: 18px;
}
.f-20{
	font-size: 20px;
}
.f-24{
	font-size: 24px;
}
.f-28{
	font-size: 28px;
	line-height: 1.2;
}
.f-30{
	font-size: 30px;
}
.f-36{
	font-size: 36px;
}
.f-48{
	font-size: 48px;
}
.f-50{
	font-size: 50px;
}
.f-60{
	font-size: 60px;
	letter-spacing: 2px;
}
.color-white{
	color: $white;
}

.color-yellow{
	color: $yellow;
}
.color-yellow2{
	color: $yellow-2;
}
.color-light-black{
	color: $light-black;
}
.color-light-gray2{
	color: $light-gray2;
}
.color-light-gray3{
	color: $light-gray3;
}
.bg-light-gray{
	background-color: $light-gray5;
}
.color-dark-gray{
	color: $dark-gray;
}
.bg-yellow{
	background-color: $yellow;
}
.relative{
	position: relative;
    display: block;
}
.letter-spacing-2{
	letter-spacing: 2px;
}
.absolute{
	position: absolute;
	// z-index: 20;
    left: 0;
    right: 0;
}

.mb-5rem{
	margin-bottom: 5rem!important;
}
.pt-15-per{
	padding-top: 15%;
}
.pb-18rem{
	    padding-bottom: 15% !important;
	// padding-bottom: 18rem !important;
}
.padding-form{
	padding-top: 300px;
}
.border-bottom-gray{
	border-bottom: 1px solid $light-gray4;
}
.border-yellow{
	border: 1px solid $yellow-2;
}
.border-white{
	border: 1px solid $white;
}

.navbar-dark{
	.navbar-nav{
		.nav-link{
			&.color-yellow{
				color: $yellow;
			}
		}
	} 
} 

.big-title{
	font-size: 72px;
    letter-spacing: 5px;
    font-weight: bold;

    .big-thin{
    	font-weight: 400 !important;
    }
}

.job{
	font-size: 48px;
	h6{
		font-size: 60px;
		font-weight: bold;
		letter-spacing: 5px;
	}
	a{
		font-size: 48px;
		font-weight: 500px;
		letter-spacing: 1px;
		text-decoration: none;
		&.position-name{
			color: $light-gray3;
		}
		&.des{
			color: $dark-gray;
		}
	}
	.job-detail-item{
		border-bottom: 1px solid #aaaaaa;
    	padding: 70px 0;
    	margin: 0 auto;
    	&.active{
			a{
				text-decoration: none;
				&.des{
					color: $yellow-2;
				}
			}
		}
		&:hover{
			a{
				text-decoration: none;
				&.des{
					color: $yellow-2;
				}
			}
		}
		&:last-child{
			border-bottom: none;
		}
	}
}
.item-card{
	padding: 25px 0;
	cursor: pointer;
	position: relative;
	span{
		opacity: 0;
	}
	&.width-custom{
		width: 24%;
		border: 1px solid #faf6ef;
		transition:1s;
		&:hover{
			border: 1px solid $yellow-2;
			transition:1s;
			span{
				opacity: 1;
				transition:1s;
			}
			.button{
				background-color: $yellow;
				color:$white;
				text-decoration: none;
				transition:1s;
			}
		}

	}
	// margin: 0 7.5px;
	h3{
		font-size: 36px;
		color: $light-black;
		text-transform: uppercase;
	}
	p{
		font-size: 24px;
		color: $light-black;
	}
	.button{
		border: 2px solid $yellow;
		color: $yellow;
		width: 170px;
		margin: 10px auto;
		padding: 5px 20px;
		&:hover{
			background-color: $yellow;
			color:$white;
			text-decoration: none;
			transition:1s;		
		}

	}
	&:first-child{
		margin-left: 0;
	}
	&:last-child{
		margin-left: 0;
	}
}

.line-height-0-5{
	line-height: 0.5;
}
.line-height-1{
	line-height: 1;
}
.line-yellow-left{
	border-left: 3px solid #fad96d;
	width: 60px;
	margin: 10px auto;
}
.line-yellow{
	border-bottom: 3px solid #fad96d;
	width: 60px;
	margin: 10px auto;
}
.line-yellow-thin{
	border-bottom: 3px solid #fad96d;
	width: 110px;
}
.bg-gray{
	background-color: #f9f9f9;
}
.bg-black-light{
	background-color: $black-light;
}
.bg-gradient-black{
	background: rgba(66,69,81,1);
	background: -moz-linear-gradient(top, rgba(66,69,81,1) 0%, rgba(41,43,50,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,69,81,1)), color-stop(100%, rgba(41,43,50,1)));
	background: -webkit-linear-gradient(top, rgba(66,69,81,1) 0%, rgba(41,43,50,1) 100%);
	background: -o-linear-gradient(top, rgba(66,69,81,1) 0%, rgba(41,43,50,1) 100%);
	background: -ms-linear-gradient(top, rgba(66,69,81,1) 0%, rgba(41,43,50,1) 100%);
	background: linear-gradient(to bottom, rgba(66,69,81,1) 0%, rgba(41,43,50,1) 100%);
}
.container-label{
	padding-top: 13%;
	.label-yellow{
		padding: 15px 20px 20px 20px;
		p{
			font-size: 36px;
		    text-align: center;
		    line-height: 1.5;
		    padding-top: 15px;
		    padding-bottom: 15px;
		    margin: 16px;
		     &.bg-yellow-opacity{
				background-color: rgba(250,217,109,0.7);
		    }
		}
	}
}

.item-work{
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
	&.ourwork-item{
		margin: 20px auto;
   		max-width: 23%;
	}
	img{
		width: 100%;
		display: block;
		position: relative;
	}
	&.seemore{
		img{
			&.arrow{
				width: auto;
				display: block;
				margin: 0 auto;

			}
		}
		&:hover{
			.overlay{
			opacity: 1;
			animation-name: easeInOut;
			transition: 1s;
			}
		}

	}
	.overlay{
		background-color: #3d3d48;
		opacity: 0.8;
		width: 100%;
		height: 100%;
		text-align: center;
		position: absolute;
		top:0;
		animation-name: easeInOut;
		transition: 2s;
		.row{
			min-height: 100%;
			margin-right: 0;
			margin-left: 0;
			h4{
				color: $yellow;
				text-transform: uppercase;
				font-size: 36px;
			}
			p{
				color: $white;
				font-size: 20px;
			}
		}
	}
	&:hover{
		.overlay{
		opacity: 0;
			// animation-duration: 2s;
		animation-name: easeInOut;
		transition: 1s;
		}
		
	}

	.line-yellow{
		margin: 35px auto;
	}

}

.item-card-yellow{
	cursor: pointer;
	.card{
		border: none;
		&.no-bg{
			background-color: transparent;
		}
	}
	.card-title{
		font-size: 36px;
		color: $dark-gray;
		text-transform: uppercase;
		font-weight: bold;
    	letter-spacing: 1px;
	}
	.card-title-small{
		font-size: 18px;
		span{
			font-weight: bold;
		}
	}
	.card-body{
		padding: 1.25rem 0;
	}
	.card-text{
		font-size: 24px;
	}
	.btn{
		color: $yellow-2;
		font-size: 24px;
		text-decoration: none;
	}
	.line-yellow-thin{
		border-bottom: 2px solid #fad96d;
	    width: 50px;
	    margin: 25px 0;
	}
	h5{
		padding-bottom: 30px;
    	padding-top: 15px;
	}
	&:hover{
		h5{
			color: $yellow;
		}
	}
}
.border-dashed{
	border: 1px dashed #d0d0d0;
	padding: 20px 10px 20px 20px;
}
.tag{
	background-color: #d0d0d0;
	padding: 10px;
	text-align: center;
	color: $white;
	font-size: 24px;
	margin: 10px 10px 10px 0;
	cursor: pointer;

	&:hover{
		background-color: #c5b7b0;
	}

}
.social{
	&.blogdetail{
		position: absolute;
	    float: right;
	    display: block;
	    right: 50px;
	    top: 260px;
	    z-index: 20;
	    .facebook{
			background-color: #4e71a8;
			&:hover{
				background-color: #8199c0;
				transition: 2s;
			}
		}
		.twitter{
			background-color: #1cb7eb;
			&:hover{
				background-color: #47c5f0;
			}
		}
		.linkedin{
			background-color: #1686b0;
			&:hover{
				background-color: #1893c1;
			}
		}
		.link{
			background-color: #f7b636;
			&:hover{
				background-color: #fbc458;
			}
		}
		a{	
			color: $white;
			// padding:15px 18px;
			display: block;
			margin-bottom: 20px;
			font-size: 24px;
			margin-right: 0;
			width: 55px;
			height: 55px;
			text-align: center;
   			padding-top: 12px;
			padding-left: 0;
			i{
				font-size: 36px;
				color: $white;
				text-align: center;
				cursor: pointer;
		    }
		    &:hover{
		    	color: $white;
		    }
		}
    
	   
	}
	a{	color: $light-gray2;
		margin-right: 40px;
		font-size: 20px;
		padding-left: 15px;
		i{
			color: $light-gray2;
			margin: 5px;
		}
		&:hover{
			color: $yellow-2;
		}
	}
}

.margin-lr-0{
	margin-left: 0;
	margin-right: 0;
}
.padding-lr-0{
	padding-left: 0;
	padding-right: 0;
}

#googlemap{
	position: relative;
	.map{
		display: block;
	    width: 100%;
	    height: 100%;
	    max-height: 1200px;
	}
	iframe{
		    position: absolute;
		    top: 0;
		    left: 0;
		    height: 225% !important;
		    width: 100% !important;
		    overflow-x: hidden !important;
		    overflow-y: hidden !important;
	}
}

.button-yellow{
	background-color: $yellow-2;
	color: $white;
	border-radius: 0;
	padding: 5px 25px;
	margin: 0 auto;
	font-size: 24px;
	&:hover{
		background-color: $yellow;
		text-decoration: none;
		color: $white;
	}
}

/*form*/
.form-control{
	&.form-yellow{
		border-radius: 0;
		&:focus {
		    color: #495057;
		    background-color: #fff;
		    outline: 0;
		    box-shadow: none;
		    border: 1px solid  $yellow-2;
		}
		input{
			z-index: 0;
		}
	}
}

.focus-t span {
    bottom: 25px !important;;
    color: #d74141;
    font-size: 15px;
    transition: all 0.3s ease 0s;
    z-index:1;
     font-size: 18px !important;
}
.focus-t input:focus,.focus-t textarea:focus{
	border-color: $yellow-2;

}
.text-effect input{
    border:none;
    border-radius: 0;
	bottom:0;
    box-shadow: none;
	z-index:2;
	padding: 15px;
	font-size: 20px;
	padding: 23px 15px 10px 15px;
	&:focus{
		border-color: $yellow-2;
	}
}

.text-effect textarea {
    border:none;
    border-radius: 0;
	bottom:0;
    box-shadow: none;
	z-index:2;
	padding: 15px;
	font-size: 20px;
	padding: 23px 15px 20px 15px;
	&:focus{
		border-color: $yellow-2;
	}
}

.text-effect {
    position: relative;
}
.text-effect span {
    bottom: 5px;
    position: absolute;
    z-index: 7;
    color: $light-gray2;
    font-size: 22px;
    padding: 0 0 10px 15px;
}

.focus-t{
	&.textarea{
		span {
		    bottom: 90px !important;;
		    color: #d74141;
		    font-size: 15px;
		    transition: all 0.3s ease 0s;
		    z-index:1;
		     font-size: 18px !important;
		}
	}
}
.text-effect{
	&.textarea{
		span {
		    bottom: 50px;
		    position: absolute;
		    z-index: 7;
		    color: $light-gray2;
		    font-size: 22px;
		    padding: 0 0 10px 15px;
		}
	}
}

.pagination{
	&.pagination-yellow{
		margin-bottom: 100px;

		.page-link{
			border:none;
			font-size: 24px;
			padding: .5rem 1.5rem;
			color: $light-black;
			&.pre{
				color: #ababab;
			}
		}
		.page-item{
			&.active{
				.page-link{
					border: 1px solid $yellow-2;
					background-color: transparent;
					color: $yellow-2;
				}
			} 
			&:hover{
				.page-link{
					// border: 1px solid $yellow-2;
					background-color: transparent;
					color: $yellow-2;
				}
			}
		}
	}
}

.box {
	background-color: #3498DB;
	border-corner-shape: bevel;
	border-radius: 50% 50% 0% 50%;
	width: 200px;
	height: 200px;
}
.box-yellow{
	border: 1px solid $yellow-2;
	background-color: $white;
	width: 15px;
	height: 15px;
}
.box-white{
	border: 1px solid $white;
	background-color: transparent;
	width: 15px;
	height: 15px;
	&.bg-white{
		background-color: $white;
	}
}
.position-top-left{
	position: absolute;
    left: -7px;
    top: -8px;
}
.position-top-right{
	position: absolute;
    right: -7px;
    top: -8px;
}
.position-bottom-left{
	position: absolute;
    left: -7px;
    bottom: -8px;
}
.position-bottom-right{
	position: absolute;
    right: -7px;
    bottom: -8px;
}
.overflow-y{
	overflow-y: hidden;
}
.blog-thank{
	display: none;
	background-color: $white;
	width: 100%;
	z-index: 80;
	position: relative;
	padding: 60px 0;
    text-align: center;
    margin-top: -351px;
    
    h6{
    	padding-bottom: 38px;
    	letter-spacing: 0.5;
    }
    .button-yellow{
    	padding: 15px 70px;
    }
    p{	
    	&.close-thank{
	    	margin-top: 40px;
	    	padding-bottom: 0;
	    	color: #666666;
	    	cursor: pointer;
    	}

    }

	&.active{
		display: block;
	}
}
.overlay-container{
	display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 70;
    &.blog{
    	&.active{
	    	display: block;
	    
		    .overlay-bg{
		    	position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    background: rgba(0, 0, 0, 0.8);
			    z-index: 70;
		    }
		}
    }
    .overlay-bg{
    	position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: rgba(0, 0, 0, 0.8);
	    z-index: 70;
    }
}
.all-menu{
	opacity: 0;
	&.active{
		opacity: 1;
	}
}
input{
	&.search-input{
		background-color: transparent !important;
	    border: none;
	    border-bottom: 1px solid rgba(255,255,255,0.5);
	    &:focus{
	    	outline: none;
	    }
	}
}

.search-menu{
	top: 12px;
	padding-left: 20px;
	margin-right: 15px;
	.search{
	    top: -53px;
	    position: absolute;
	    a{
	    	&.nav-link{
	    		padding: 0;
	    	}
	    }
	}
}

.search-bar{
	display: none;
	position: absolute;
    right: 20px;
    width: 50%;
    top: 30px;
    z-index: 999;
    input{
    	width: 80%;
    	margin-left: 20px;
    	color: $white;
    	&:focus{
	    	text-decoration: none;
	    	outline: none;
	    }
    }
    a{
    	color: $white;
    	display: inline-block;
    }
    &.active{
    	display: inline-block;
    }
    &:focus{
    	text-decoration: none;
    	outline: none;
    }
    .close{
    	color: $white;
    	right: 10px;
    }
}
.navbar-dark{
	.navbar-toggler{
		border: none;
		margin-right: 10px;
	}
} 

.navbar-nav{
	&:focus{
		outline: none;
	}
}

.close-menu{
	position: absolute;
    right: 20px;
}
.choose-cate{
	padding-top: 20px;
}

@include bp(large) {
	.nav-blog{
		a {
		    line-height: 1;
		    margin-bottom: 0;
		    font-size: 24px;
		}
	} 
}
@include bp(desktop) {
	.item-card {
		&.width-custom{
			width: 45%;
			margin-left: 10px !important;
		}
	    margin: 20px auto;
	}

	.job{
		font-size: 48px;
		h6{
			font-size: 60px;
			font-weight: bold;
			letter-spacing: 5px;
		}
		a{
			font-size: 36px;

		}
		.job-detail-item{
			padding: 30px 0;
			.des{
				&:after{
					font-family: FontAwesome;
					content: "\f054";
					float: right;
					font-size: 20px;
				}
			}
		}
	}
	.pb-18rem{
		padding-bottom: 4rem !important;
	}
	.padding-form{
		padding-top: 200px;
	}
	.social{
		-webkit-box-pack: center!important;
    	-ms-flex-pack: center!important;
    	justify-content: center!important;
		a{	color: $light-gray2;
			margin: 0 20px;
			font-size: 20px;
			padding-left: 0;
		}
	} 
	.item-work{
		&.ourwork-item{
	   		max-width: 46%;
	   		margin: 10 auto;
		}
	}
	.social{
		&.blogdetail{
			width: 100%;
			display: inline-block;
			position: relative;
		    float: left;
		    right: 0;
		    left: 0;
		    margin: 30px auto;
		    margin-bottom: 0;
			top: auto;
			a{	
				float: left;
				&:first-child{
					margin-left: 0;
				}
			} 

			.center{
				width: 282px;
				margin: 0 auto;
			}
		}

	}
	.search-bar{
	    right: 20px;
	    width: 60%;
	    input{
	    	width: 80%;
	    	margin-left: 20px;
	    }
	} 
}



@include bp(tablet) {
	.f-50{
		font-size: 36px;
	}
	.button-border-white-big {
	    letter-spacing: 5px;
	    font-weight: bold;
	}
	.part-three .quotes {
	    padding-top: 23px;
	}
	.whoweare{
		margin-top: -170px;
	}
	.search-bar{
		&.active{
			display: none;
		}

	}
	.nav-blog{
		a {
		    line-height: 1;
		    margin-bottom: 0;
		    font-size: 20px;
		}
	} 
	.choose-cate{
		padding-top: 70px;
	}

}


@include bp(mobile) {
	.quotes {
	    font-size: 22px;
	    padding-top: 30px;
	}
	.item-card.width-custom {
	    max-width: 100%;
	    margin: 20px auto !important;
	}
	.margin-lr-0-mb{
		margin: 0 auto;
	}

	.big-title {
	    font-size: 55px;
	}
	.item-work{
		.line-yellow {
		    margin: 25px auto;
		}
		.overlay{
			.row{
				h4{
					font-size: 30px;
				}
			} 
		} 
	}

	footer{
		h2 {
		    font-size: 63px;
		    padding-bottom: 0px;
		}
		h4{
			font-size: 32px;
			padding-top: 25px;
		}
		h6 {
		    font-size: 20px;
		    line-height: 1;
		}
		a{
			font-size: 32px;
		}
	}
}


@include bp(small){
	.item-work{
		.line-yellow {
		    margin: 10px auto;
		}
		.overlay{
			.row{
				h4{
					font-size: 22px;
				}
				p{
					font-size: 18px;
				}
			} 
		} 
	}
	.item-card {
		&.width-custom{
			width: 100%;
			margin-left: 0px !important;
		}
	} 
}