
@font-face {
    font-family: 'Font Awesome 5 Brands';
    src: url('../webfonts/FontAwesome5BrandsRegular.woff2') format('woff2'),
        url('../webfonts/FontAwesome5BrandsRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../webfonts/FontAwesome.woff2') format('woff2'),
        url('../webfonts/FontAwesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DB Helvethaica X Reg';
    src: url('../fonts/DBHelvethaicaX-RegIt.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaX-RegIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Helvethaica X 55';
    src: url('../fonts/DBHelvethaicaX-55Regular.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaX-55Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DB Helvethaica X Bd';
    src: url('../fonts/DBHelvethaicaX-Bd.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaX-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'DB Helvethaica X 65 Med';
    src: url('../fonts/DBHelvethaicaX-65Med.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaX-65Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DB Helvethaica X Li';
    src: url('../fonts/DBHelvethaicaX-Li.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaX-Li.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
