@import "_mixin.scss";
@import "_variable.scss";
@import "_font.scss";

body {
	font-family: 'DB Helvethaica X 55';
	font-weight: normal;
 	font-style: normal;
 	font-size: 16px;
 	position: relative;
 	word-wrap: break-word;
 	color: $dark-gray;
 	background-color: $white;
 	overflow-x: hidden;
}
.padding-content-top{
	padding-top: 7%;
} 
.part{
	padding: 80px 0;
}
.part-one{
	background-image: url("../../images/bg-star.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
	height: auto;
	background-size: cover;
}
.part-star{
	background-image: url("../../images/bg-star-2.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
	height: 1000px;
	background-size: cover;
}
.part-star-2{
	background-image: url("../../images/bg-star-3.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
	height: 1000px;
	background-size: cover;
}
.part-pic{
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
	height: 1000px;
	background-size: cover;
}
.part-three{    
	background-image: url("../../images/bg-star-2.jpg");
    height: 340px; 
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    .quotes{
    	padding-top: 65px;
    }
}

.center{
    margin: 0 auto !important;
    display: block;
}

.nav-dt{
	z-index: 50;
	color: $white;
	padding-top: 15px;
	padding-bottom: 10px;
}
.navbar-nav{
	position: absolute;
	right: 0;
	.nav-item{
		&.border-warning{
			line-height: 1.5;
		}
		&.active{
			a.nav-link{
				color: $yellow !important;
			}
		}
		&.search{
			.nav-link{
				&:hover{
					color: #f0eeee !important;
					border-bottom: none;
				}

				&.active{
					color: #f0eeee !important;
				}
			}
		}
	} 
	.nav-link{
		&:hover{
			color: $yellow !important;
			border-bottom: 2px solid $yellow;
		}

		&.active{
			color: $yellow;
		}
		&.blog{
			&:hover{
				color: $yellow !important;
				border-bottom: none;
			}
		}
	}
}

.moon{
	width: 38%;
	margin: 0 auto;
	display: block;
	padding-top: 7%;
	position: relative;
	right: 0;
	left: 0;
	z-index: 10;
	padding-bottom: 40px;
}
.shadow-moon{
	width: 38%;
	margin: 0 auto;
	display: block;
	padding-top: 7%;
	padding-bottom: 40px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 41;
    position: absolute;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2.5s;
   	animation-name: fadeOut;
   	transition: 2s;
}

.star{
	position: absolute;
    top: -600px;
    right: -600px;
    width: 11.5%;

    animation-name: mymove;
	animation-delay: 2s;
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
	-webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	z-index: 0;
}
@keyframes mymove {
    0% {
    	top: 0px;
    	right: 0px;
    }
    100% {
    	top: 50%;
    	right: 40%;
    }
}
/*fadeout*/   
 @-webkit-keyframes fadeOutLeft {
    0% {
       opacity: 1;
       -webkit-transform: translate(40px);
       -webkit-transform: translatey(40px);
    }
    100% {
       opacity: 0;
       -webkit-transform: translateX(-50px);
       -webkit-transform: translatey(-50px);
    }
 }
 
 @keyframes fadeOutLeft {
    0% {
       opacity: 1;
       transform: translateX(0);
    }
    100% {
       opacity: 0;
       transform: translateX(-20px);
    }
 }
 
.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

/*end fadeout*/


.about-txt{
	position: absolute;
	padding-top: 1%;
    font-size: 200px;
    font-weight: bold;
    letter-spacing: 10px;
    color: $light-gray;
}
.big-font{
	font-size: 150px;
	color: $light-gray;
	letter-spacing:1 ;
	font-weight: bold;
}

.logo-large{
	display: block;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 52%;
    width: 30%;
    z-index: 30;
    animation-delay: 3s;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
   	transition: 2s;
}

.quotes{
	font-size: 36px;
	padding-top: 30px;
}
.container{
	max-width: 1360px;
}
.scroll-down{
	visibility: visible;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    transition: 2s;
    &:hover{
    	text-decoration: none;
    }
}
.margin-tb-100{
	margin-top: 100px;
	margin-bottom: 100px;
}
.mb-5px{
	margin-bottom: 5px;
}
.ourwork{
	padding: 125px 0;
	h3{
		letter-spacing: 13px;
   	 	font-size: 50px;
    	line-height: 0.5;
	}
	h4{
		font-size: 53px;
		letter-spacing: 3px;

	}
}
.button-border-white-big{
    padding: 10px 0;
    border-radius: 0;
    letter-spacing: 12px;
    font-weight: bold;
    width: 100%;
    a{
    	color: $white;
    	text-decoration: none;
    }
    a:hover{
    	color: $black;
    }
    &:hover{
    	a{
	    	color: $black;
	    	text-decoration: none;
	    }
    }
}
.button-border-white-small{
    border-radius: 0;
    width: 75px;
    margin: 10px;
    a{
    	color: $white;
    	text-decoration: none;
    	line-height: 2;
    	font-size: 30px
    }
    a:hover{
    	color: $black;
    }
    &:hover{
    	a{
	    	color: $black;
	    	text-decoration: none;
	    }
    }
    .svg-inline--fa{
    	margin:  0 auto;
    }
}
.button-noraduis{
	border-radius: 0;
}
.button-border-yellow{
	border-radius: 0;
	border: 1px solid $yellow;
}
.more-button{
	width: 210px;
	border-radius: 0;
	padding: 10px 30px;
	border: 1px solid $yellow;
	a{
		color: $yellow;
		text-decoration: none;
	}
	a:hover{
		color: $yellow;
		text-decoration: none;
	}
	&:hover{
		background-color: $white;
		color: $yellow;
	}
	&.hover-bg-yellow{
		cursor: pointer;
		a:hover{
			color: $white;
			text-decoration: none;
		}
		&:hover{
			background-color: $yellow;
			color: $white !important;
			a{
				color: $white !important;
			}
		}
	}
}
.content-txt{
	position: absolute;
}
.creative-txt{
	right: 300px;
	line-height: 0.6;
}
.nav-blog{
	padding: 20px;
	margin: 10px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	a{
		line-height: 1;
		margin-bottom: 0;
		font-size: 30px;
		color: $white;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			text-decoration: none;
		}
	}
}

.backtotop{
	display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 2%;
    width: 50px;
    text-align: center;
    overflow: hidden;
    z-index: 999;
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    -o-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;


	&.cd-is-visible{
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s;
		visibility: visible;
		filter: alpha(opacity=100);
		opacity: 1;
	}

	&.cd-fade-out{
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s;
	}
	&:hover{
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s; 
	}
	img{
		width: 100%;
	}

}


footer{
	background-color: #333337;
	color: $white;
	letter-spacing: 1px;
	h2{
		font-size: 72px;
		text-transform: uppercase;
		font-weight: bold;
		padding-bottom: 30px;
    	letter-spacing: 6px;
	}
	h4{
		font-size: 50px;
		text-transform: uppercase;
		font-weight: bold;
		padding-top: 50px;
   	 	letter-spacing: 3px;
    	line-height: 1;
    	padding-top: 85px;
    	letter-spacing: 3px;
    	line-height: 1;
	}
	h6{
		font-size: 35px;
		line-height: 0.5;
	}
	p{
		font-size: 40px;
		padding-bottom: 15px;
    	padding-top: 30px;
    	line-height: 1.2;
    	&.small{
    		font-size: 24px;
    		padding-bottom: 0;
    	}
	}
	.svg-inline--fa{
		margin-right: 20px;
	}
	a{
		text-decoration: none;
		font-size: 40px;
	}
	a:hover{
		color: #f6c936;
		text-decoration: none;
	}
	.right{
		padding-top: 3%;
		padding-left: 7%;
	}
	button{
		max-width: 550px;
	}
}

.more-ourwork{
	display: none;
	&.active{
		display: inline-block;
	}
}

.container-dt{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-toggler-icon{
	cursor: pointer;
}
@include bp(large) {
	.container{
		max-width: 1148px;
	}
	.collapse{
		display: none !important;
	}

}


@include bp(tablet) {
	.center-mb{
	    margin: 0 auto !important;
	    display: block;
	}
	.container-dt{
		width: 100%;
	    margin-right: auto;
	    margin-left: auto;
	    padding-left: 0;
		padding-right: 0;
		outline: none;
	}

	/*edit menu*/
	.collapse{
		&.show {
		    display: block !important;

		}
		&:focus{
			outline: none;
		}
	}
	.blog{
		border: 1px solid #ffc107;
		max-width: 90px;
		padding: 2px 10px;
		text-align: center;
		margin: 10px 0;
		a{
			padding: 0;
		}
	}
	.search-bar{
		width: 100% !important;
		position: relative !important;
		top: 0 !important;
	}

	.navbar-nav{
		&:focus{
			outline: none;
		}
		&.all-menu{
			background-image: url("../../images/bg-star-mb.jpg");
			background-position: center right;
			background-repeat: no-repeat;
		    width: 100%;
		    padding: 20px 35px;
		    position: absolute;
		    top: -15px;
		    z-index: 40;
		}
	 	.nav-link{
	 		&:hover {
		   	 	color: #fad96d !important;
		    	border-bottom: none;
			}
		}
	}

}