// media query
$MQs: true;
@mixin bp($point) {
  @if ($MQs) {
    $bp-small: "screen and (max-width: 480px)";
    $bp-mobile: "screen and (max-width: 569px)";
    $bp-tablet: "screen and (max-width: 768px)";
    $bp-desktop: "screen and (max-width: 992px)";
    $bp-large: "screen and (max-width: 1200px)";
    $bp-extraLarge: "screen and (max-width: 1580px)";
  
    @if $point == small {
      @media #{$bp-small} { @content; }
    }
    @else if $point == mobile {
      @media #{$bp-mobile} { @content; }
    }
    @else if $point == tablet {
      @media #{$bp-tablet} { @content; }
    }
    @else if $point == tabletmax {
      @media #{$bp-tablet-max} { @content; }
    }
    @else if $point == desktop {
      @media #{$bp-desktop}  { @content; }
    }
    @else if $point == desktopmax {
      @media #{$bp-desktop-max}  { @content; }
    }
    @else if $point == large {
      @media #{$bp-large}  { @content; }
    }
    @else if $point == largeMax {
      @media #{$bp-large-max}  { @content; }
    }
    @else if $point == extraLarge {
      @media #{$bp-extraLarge}  { @content; }
    }
    @else if $point == extraLargemax {
      @media #{$bp-extraLarge-max}  { @content; }
    }
  }
}


// clear fix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
