$black: #000000;
$black-light: #333337;
$white: #fff;
$yellow: #fad96d;
$yellow-2: #f7b636;
$dark-gray: #3d3d48;
$light-gray: #efefef;
$light-gray2: #909093;
$light-gray3: #666666;
$light-gray4: #d4d4d4;
$light-gray5: #f8f8f8;
$light-black: #333333;