@font-face {
  font-family: 'Font Awesome 5 Brands';
  src: url("../webfonts/FontAwesome5BrandsRegular.woff2") format("woff2"), url("../webfonts/FontAwesome5BrandsRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../webfonts/FontAwesome.woff2") format("woff2"), url("../webfonts/FontAwesome.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X Reg';
  src: url("../fonts/DBHelvethaicaX-RegIt.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-RegIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X 55';
  src: url("../fonts/DBHelvethaicaX-55Regular.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-55Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X Bd';
  src: url("../fonts/DBHelvethaicaX-Bd.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X 65 Med';
  src: url("../fonts/DBHelvethaicaX-65Med.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-65Med.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X Li';
  src: url("../fonts/DBHelvethaicaX-Li.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-Li.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Font Awesome 5 Brands';
  src: url("../webfonts/FontAwesome5BrandsRegular.woff2") format("woff2"), url("../webfonts/FontAwesome5BrandsRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../webfonts/FontAwesome.woff2") format("woff2"), url("../webfonts/FontAwesome.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X Reg';
  src: url("../fonts/DBHelvethaicaX-RegIt.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-RegIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X 55';
  src: url("../fonts/DBHelvethaicaX-55Regular.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-55Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X Bd';
  src: url("../fonts/DBHelvethaicaX-Bd.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X 65 Med';
  src: url("../fonts/DBHelvethaicaX-65Med.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-65Med.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X Li';
  src: url("../fonts/DBHelvethaicaX-Li.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-Li.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

body {
  font-family: 'DB Helvethaica X 55';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  position: relative;
  word-wrap: break-word;
  color: #3d3d48;
  background-color: #fff;
  overflow-x: hidden; }

.padding-content-top {
  padding-top: 7%; }

.part {
  padding: 80px 0; }

.part-one {
  background-image: url("../../images/bg-star.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  height: auto;
  background-size: cover; }

.part-star {
  background-image: url("../../images/bg-star-2.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  height: 1000px;
  background-size: cover; }

.part-star-2 {
  background-image: url("../../images/bg-star-3.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  height: 1000px;
  background-size: cover; }

.part-pic {
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  height: 1000px;
  background-size: cover; }

.part-three {
  background-image: url("../../images/bg-star-2.jpg");
  height: 340px;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover; }
  .part-three .quotes {
    padding-top: 65px; }

.center {
  margin: 0 auto !important;
  display: block; }

.nav-dt {
  z-index: 50;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 10px; }

.navbar-nav {
  position: absolute;
  right: 0; }
  .navbar-nav .nav-item.border-warning {
    line-height: 1.5; }
  .navbar-nav .nav-item.active a.nav-link {
    color: #fad96d !important; }
  .navbar-nav .nav-item.search .nav-link:hover {
    color: #f0eeee !important;
    border-bottom: none; }
  .navbar-nav .nav-item.search .nav-link.active {
    color: #f0eeee !important; }
  .navbar-nav .nav-link:hover {
    color: #fad96d !important;
    border-bottom: 2px solid #fad96d; }
  .navbar-nav .nav-link.active {
    color: #fad96d; }
  .navbar-nav .nav-link.blog:hover {
    color: #fad96d !important;
    border-bottom: none; }

.moon {
  width: 38%;
  margin: 0 auto;
  display: block;
  padding-top: 7%;
  position: relative;
  right: 0;
  left: 0;
  z-index: 10;
  padding-bottom: 40px; }

.shadow-moon {
  width: 38%;
  margin: 0 auto;
  display: block;
  padding-top: 7%;
  padding-bottom: 40px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 41;
  position: absolute;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }

.star {
  position: absolute;
  top: -600px;
  right: -600px;
  width: 11.5%;
  -webkit-animation-name: mymove;
  animation-name: mymove;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 0; }

@-webkit-keyframes mymove {
  0% {
    top: 0px;
    right: 0px; }
  100% {
    top: 50%;
    right: 40%; } }

@keyframes mymove {
  0% {
    top: 0px;
    right: 0px; }
  100% {
    top: 50%;
    right: 40%; } }

/*fadeout*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translate(40px);
    -webkit-transform: translatey(40px); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    -webkit-transform: translatey(-50px); } }

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); } }

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

/*end fadeout*/
.about-txt {
  position: absolute;
  padding-top: 1%;
  font-size: 200px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #efefef; }

.big-font {
  font-size: 150px;
  color: #efefef;
  letter-spacing: 1;
  font-weight: bold; }

.logo-large {
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 52%;
  width: 30%;
  z-index: 30;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }

.quotes {
  font-size: 36px;
  padding-top: 30px; }

.container {
  max-width: 1360px; }

.scroll-down {
  visibility: visible;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }
  .scroll-down:hover {
    text-decoration: none; }

.margin-tb-100 {
  margin-top: 100px;
  margin-bottom: 100px; }

.mb-5px {
  margin-bottom: 5px; }

.ourwork {
  padding: 125px 0; }
  .ourwork h3 {
    letter-spacing: 13px;
    font-size: 50px;
    line-height: 0.5; }
  .ourwork h4 {
    font-size: 53px;
    letter-spacing: 3px; }

.button-border-white-big {
  padding: 10px 0;
  border-radius: 0;
  letter-spacing: 12px;
  font-weight: bold;
  width: 100%; }
  .button-border-white-big a {
    color: #fff;
    text-decoration: none; }
  .button-border-white-big a:hover {
    color: #000000; }
  .button-border-white-big:hover a {
    color: #000000;
    text-decoration: none; }

.button-border-white-small {
  border-radius: 0;
  width: 75px;
  margin: 10px; }
  .button-border-white-small a {
    color: #fff;
    text-decoration: none;
    line-height: 2;
    font-size: 30px; }
  .button-border-white-small a:hover {
    color: #000000; }
  .button-border-white-small:hover a {
    color: #000000;
    text-decoration: none; }
  .button-border-white-small .svg-inline--fa {
    margin: 0 auto; }

.button-noraduis {
  border-radius: 0; }

.button-border-yellow {
  border-radius: 0;
  border: 1px solid #fad96d; }

.more-button {
  width: 210px;
  border-radius: 0;
  padding: 10px 30px;
  border: 1px solid #fad96d; }
  .more-button a {
    color: #fad96d;
    text-decoration: none; }
  .more-button a:hover {
    color: #fad96d;
    text-decoration: none; }
  .more-button:hover {
    background-color: #fff;
    color: #fad96d; }
  .more-button.hover-bg-yellow {
    cursor: pointer; }
    .more-button.hover-bg-yellow a:hover {
      color: #fff;
      text-decoration: none; }
    .more-button.hover-bg-yellow:hover {
      background-color: #fad96d;
      color: #fff !important; }
      .more-button.hover-bg-yellow:hover a {
        color: #fff !important; }

.content-txt {
  position: absolute; }

.creative-txt {
  right: 300px;
  line-height: 0.6; }

.nav-blog {
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; }
  .nav-blog a {
    line-height: 1;
    margin-bottom: 0;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
    .nav-blog a:hover {
      text-decoration: none; }

.backtotop {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 2%;
  width: 50px;
  text-align: center;
  overflow: hidden;
  z-index: 999;
  visibility: hidden;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  -o-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }
  .backtotop.cd-is-visible {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    -o-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
    visibility: visible;
    filter: alpha(opacity=100);
    opacity: 1; }
  .backtotop.cd-fade-out {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    -o-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  .backtotop:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    -o-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  .backtotop img {
    width: 100%; }

footer {
  background-color: #333337;
  color: #fff;
  letter-spacing: 1px; }
  footer h2 {
    font-size: 72px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px;
    letter-spacing: 6px; }
  footer h4 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 50px;
    letter-spacing: 3px;
    line-height: 1;
    padding-top: 85px;
    letter-spacing: 3px;
    line-height: 1; }
  footer h6 {
    font-size: 35px;
    line-height: 0.5; }
  footer p {
    font-size: 40px;
    padding-bottom: 15px;
    padding-top: 30px;
    line-height: 1.2; }
    footer p.small {
      font-size: 24px;
      padding-bottom: 0; }
  footer .svg-inline--fa {
    margin-right: 20px; }
  footer a {
    text-decoration: none;
    font-size: 40px; }
  footer a:hover {
    color: #f6c936;
    text-decoration: none; }
  footer .right {
    padding-top: 3%;
    padding-left: 7%; }
  footer button {
    max-width: 550px; }

.more-ourwork {
  display: none; }
  .more-ourwork.active {
    display: inline-block; }

.container-dt {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto; }

.navbar-toggler-icon {
  cursor: pointer; }

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1148px; }
  .collapse {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .center-mb {
    margin: 0 auto !important;
    display: block; }
  .container-dt {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    outline: none; }
  /*edit menu*/
  .collapse.show {
    display: block !important; }
  .collapse:focus {
    outline: none; }
  .blog {
    border: 1px solid #ffc107;
    max-width: 90px;
    padding: 2px 10px;
    text-align: center;
    margin: 10px 0; }
    .blog a {
      padding: 0; }
  .search-bar {
    width: 100% !important;
    position: relative !important;
    top: 0 !important; }
  .navbar-nav:focus {
    outline: none; }
  .navbar-nav.all-menu {
    background-image: url("../../images/bg-star-mb.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    padding: 20px 35px;
    position: absolute;
    top: -15px;
    z-index: 40; }
  .navbar-nav .nav-link:hover {
    color: #fad96d !important;
    border-bottom: none; } }

@font-face {
  font-family: 'Font Awesome 5 Brands';
  src: url("../webfonts/FontAwesome5BrandsRegular.woff2") format("woff2"), url("../webfonts/FontAwesome5BrandsRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../webfonts/FontAwesome.woff2") format("woff2"), url("../webfonts/FontAwesome.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X Reg';
  src: url("../fonts/DBHelvethaicaX-RegIt.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-RegIt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X 55';
  src: url("../fonts/DBHelvethaicaX-55Regular.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-55Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X Bd';
  src: url("../fonts/DBHelvethaicaX-Bd.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X 65 Med';
  src: url("../fonts/DBHelvethaicaX-65Med.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-65Med.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'DB Helvethaica X Li';
  src: url("../fonts/DBHelvethaicaX-Li.woff2") format("woff2"), url("../fonts/DBHelvethaicaX-Li.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.db-x-regular {
  font-family: 'DB Helvethaica X 55';
  font-weight: normal;
  font-style: normal; }

.db-litt {
  font-family: 'DB Helvethaica X Reg';
  font-weight: normal;
  font-style: normal; }

.db-med-65 {
  font-family: 'DB Helvethaica X 65 Med';
  font-weight: normal;
  font-style: normal; }

.db-li {
  font-family: 'DB Helvethaica X Li'; }

.db-x-bd {
  font-family: 'DB Helvethaica X Bd'; }

.f-18 {
  font-size: 18px; }

.f-20 {
  font-size: 20px; }

.f-24 {
  font-size: 24px; }

.f-28 {
  font-size: 28px;
  line-height: 1.2; }

.f-30 {
  font-size: 30px; }

.f-36 {
  font-size: 36px; }

.f-48 {
  font-size: 48px; }

.f-50 {
  font-size: 50px; }

.f-60 {
  font-size: 60px;
  letter-spacing: 2px; }

.color-white {
  color: #fff; }

.color-yellow {
  color: #fad96d; }

.color-yellow2 {
  color: #f7b636; }

.color-light-black {
  color: #333333; }

.color-light-gray2 {
  color: #909093; }

.color-light-gray3 {
  color: #666666; }

.bg-light-gray {
  background-color: #f8f8f8; }

.color-dark-gray {
  color: #3d3d48; }

.bg-yellow {
  background-color: #fad96d; }

.relative {
  position: relative;
  display: block; }

.letter-spacing-2 {
  letter-spacing: 2px; }

.absolute {
  position: absolute;
  left: 0;
  right: 0; }

.mb-5rem {
  margin-bottom: 5rem !important; }

.pt-15-per {
  padding-top: 15%; }

.pb-18rem {
  padding-bottom: 15% !important; }

.padding-form {
  padding-top: 300px; }

.border-bottom-gray {
  border-bottom: 1px solid #d4d4d4; }

.border-yellow {
  border: 1px solid #f7b636; }

.border-white {
  border: 1px solid #fff; }

.navbar-dark .navbar-nav .nav-link.color-yellow {
  color: #fad96d; }

.big-title {
  font-size: 72px;
  letter-spacing: 5px;
  font-weight: bold; }
  .big-title .big-thin {
    font-weight: 400 !important; }

.job {
  font-size: 48px; }
  .job h6 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px; }
  .job a {
    font-size: 48px;
    font-weight: 500px;
    letter-spacing: 1px;
    text-decoration: none; }
    .job a.position-name {
      color: #666666; }
    .job a.des {
      color: #3d3d48; }
  .job .job-detail-item {
    border-bottom: 1px solid #aaaaaa;
    padding: 70px 0;
    margin: 0 auto; }
    .job .job-detail-item.active a {
      text-decoration: none; }
      .job .job-detail-item.active a.des {
        color: #f7b636; }
    .job .job-detail-item:hover a {
      text-decoration: none; }
      .job .job-detail-item:hover a.des {
        color: #f7b636; }
    .job .job-detail-item:last-child {
      border-bottom: none; }

.item-card {
  padding: 25px 0;
  cursor: pointer;
  position: relative; }
  .item-card span {
    opacity: 0; }
  .item-card.width-custom {
    width: 24%;
    border: 1px solid #faf6ef;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .item-card.width-custom:hover {
      border: 1px solid #f7b636;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
      .item-card.width-custom:hover span {
        opacity: 1;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .item-card.width-custom:hover .button {
        background-color: #fad96d;
        color: #fff;
        text-decoration: none;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
  .item-card h3 {
    font-size: 36px;
    color: #333333;
    text-transform: uppercase; }
  .item-card p {
    font-size: 24px;
    color: #333333; }
  .item-card .button {
    border: 2px solid #fad96d;
    color: #fad96d;
    width: 170px;
    margin: 10px auto;
    padding: 5px 20px; }
    .item-card .button:hover {
      background-color: #fad96d;
      color: #fff;
      text-decoration: none;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
  .item-card:first-child {
    margin-left: 0; }
  .item-card:last-child {
    margin-left: 0; }

.line-height-0-5 {
  line-height: 0.5; }

.line-height-1 {
  line-height: 1; }

.line-yellow-left {
  border-left: 3px solid #fad96d;
  width: 60px;
  margin: 10px auto; }

.line-yellow {
  border-bottom: 3px solid #fad96d;
  width: 60px;
  margin: 10px auto; }

.line-yellow-thin {
  border-bottom: 3px solid #fad96d;
  width: 110px; }

.bg-gray {
  background-color: #f9f9f9; }

.bg-black-light {
  background-color: #333337; }

.bg-gradient-black {
  background: #424551;
  background: -moz-linear-gradient(top, #424551 0%, #292b32 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #424551), color-stop(100%, #292b32));
  background: -webkit-linear-gradient(top, #424551 0%, #292b32 100%);
  background: -o-linear-gradient(top, #424551 0%, #292b32 100%);
  background: -ms-linear-gradient(top, #424551 0%, #292b32 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#424551), to(#292b32));
  background: linear-gradient(to bottom, #424551 0%, #292b32 100%); }

.container-label {
  padding-top: 13%; }
  .container-label .label-yellow {
    padding: 15px 20px 20px 20px; }
    .container-label .label-yellow p {
      font-size: 36px;
      text-align: center;
      line-height: 1.5;
      padding-top: 15px;
      padding-bottom: 15px;
      margin: 16px; }
      .container-label .label-yellow p.bg-yellow-opacity {
        background-color: rgba(250, 217, 109, 0.7); }

.item-work {
  padding-left: 0;
  padding-right: 0;
  cursor: pointer; }
  .item-work.ourwork-item {
    margin: 20px auto;
    max-width: 23%; }
  .item-work img {
    width: 100%;
    display: block;
    position: relative; }
  .item-work.seemore img.arrow {
    width: auto;
    display: block;
    margin: 0 auto; }
  .item-work.seemore:hover .overlay {
    opacity: 1;
    -webkit-animation-name: easeInOut;
    animation-name: easeInOut;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .item-work .overlay {
    background-color: #3d3d48;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    -webkit-animation-name: easeInOut;
    animation-name: easeInOut;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }
    .item-work .overlay .row {
      min-height: 100%;
      margin-right: 0;
      margin-left: 0; }
      .item-work .overlay .row h4 {
        color: #fad96d;
        text-transform: uppercase;
        font-size: 36px; }
      .item-work .overlay .row p {
        color: #fff;
        font-size: 20px; }
  .item-work:hover .overlay {
    opacity: 0;
    -webkit-animation-name: easeInOut;
    animation-name: easeInOut;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .item-work .line-yellow {
    margin: 35px auto; }

.item-card-yellow {
  cursor: pointer; }
  .item-card-yellow .card {
    border: none; }
    .item-card-yellow .card.no-bg {
      background-color: transparent; }
  .item-card-yellow .card-title {
    font-size: 36px;
    color: #3d3d48;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px; }
  .item-card-yellow .card-title-small {
    font-size: 18px; }
    .item-card-yellow .card-title-small span {
      font-weight: bold; }
  .item-card-yellow .card-body {
    padding: 1.25rem 0; }
  .item-card-yellow .card-text {
    font-size: 24px; }
  .item-card-yellow .btn {
    color: #f7b636;
    font-size: 24px;
    text-decoration: none; }
  .item-card-yellow .line-yellow-thin {
    border-bottom: 2px solid #fad96d;
    width: 50px;
    margin: 25px 0; }
  .item-card-yellow h5 {
    padding-bottom: 30px;
    padding-top: 15px; }
  .item-card-yellow:hover h5 {
    color: #fad96d; }

.border-dashed {
  border: 1px dashed #d0d0d0;
  padding: 20px 10px 20px 20px; }

.tag {
  background-color: #d0d0d0;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin: 10px 10px 10px 0;
  cursor: pointer; }
  .tag:hover {
    background-color: #c5b7b0; }

.social.blogdetail {
  position: absolute;
  float: right;
  display: block;
  right: 50px;
  top: 260px;
  z-index: 20; }
  .social.blogdetail .facebook {
    background-color: #4e71a8; }
    .social.blogdetail .facebook:hover {
      background-color: #8199c0;
      -webkit-transition: 2s;
      -o-transition: 2s;
      transition: 2s; }
  .social.blogdetail .twitter {
    background-color: #1cb7eb; }
    .social.blogdetail .twitter:hover {
      background-color: #47c5f0; }
  .social.blogdetail .linkedin {
    background-color: #1686b0; }
    .social.blogdetail .linkedin:hover {
      background-color: #1893c1; }
  .social.blogdetail .link {
    background-color: #f7b636; }
    .social.blogdetail .link:hover {
      background-color: #fbc458; }
  .social.blogdetail a {
    color: #fff;
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    margin-right: 0;
    width: 55px;
    height: 55px;
    text-align: center;
    padding-top: 12px;
    padding-left: 0; }
    .social.blogdetail a i {
      font-size: 36px;
      color: #fff;
      text-align: center;
      cursor: pointer; }
    .social.blogdetail a:hover {
      color: #fff; }

.social a {
  color: #909093;
  margin-right: 40px;
  font-size: 20px;
  padding-left: 15px; }
  .social a i {
    color: #909093;
    margin: 5px; }
  .social a:hover {
    color: #f7b636; }

.margin-lr-0 {
  margin-left: 0;
  margin-right: 0; }

.padding-lr-0 {
  padding-left: 0;
  padding-right: 0; }

#googlemap {
  position: relative; }
  #googlemap .map {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 1200px; }
  #googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 225% !important;
    width: 100% !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important; }

.button-yellow {
  background-color: #f7b636;
  color: #fff;
  border-radius: 0;
  padding: 5px 25px;
  margin: 0 auto;
  font-size: 24px; }
  .button-yellow:hover {
    background-color: #fad96d;
    text-decoration: none;
    color: #fff; }

/*form*/
.form-control.form-yellow {
  border-radius: 0; }
  .form-control.form-yellow:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #f7b636; }
  .form-control.form-yellow input {
    z-index: 0; }

.focus-t span {
  bottom: 25px !important;
  color: #d74141;
  font-size: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
  font-size: 18px !important; }

.focus-t input:focus, .focus-t textarea:focus {
  border-color: #f7b636; }

.text-effect input {
  border: none;
  border-radius: 0;
  bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 2;
  padding: 15px;
  font-size: 20px;
  padding: 23px 15px 10px 15px; }
  .text-effect input:focus {
    border-color: #f7b636; }

.text-effect textarea {
  border: none;
  border-radius: 0;
  bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 2;
  padding: 15px;
  font-size: 20px;
  padding: 23px 15px 20px 15px; }
  .text-effect textarea:focus {
    border-color: #f7b636; }

.text-effect {
  position: relative; }

.text-effect span {
  bottom: 5px;
  position: absolute;
  z-index: 7;
  color: #909093;
  font-size: 22px;
  padding: 0 0 10px 15px; }

.focus-t.textarea span {
  bottom: 90px !important;
  color: #d74141;
  font-size: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
  font-size: 18px !important; }

.text-effect.textarea span {
  bottom: 50px;
  position: absolute;
  z-index: 7;
  color: #909093;
  font-size: 22px;
  padding: 0 0 10px 15px; }

.pagination.pagination-yellow {
  margin-bottom: 100px; }
  .pagination.pagination-yellow .page-link {
    border: none;
    font-size: 24px;
    padding: .5rem 1.5rem;
    color: #333333; }
    .pagination.pagination-yellow .page-link.pre {
      color: #ababab; }
  .pagination.pagination-yellow .page-item.active .page-link {
    border: 1px solid #f7b636;
    background-color: transparent;
    color: #f7b636; }
  .pagination.pagination-yellow .page-item:hover .page-link {
    background-color: transparent;
    color: #f7b636; }

.box {
  background-color: #3498DB;
  border-corner-shape: bevel;
  border-radius: 50% 50% 0% 50%;
  width: 200px;
  height: 200px; }

.box-yellow {
  border: 1px solid #f7b636;
  background-color: #fff;
  width: 15px;
  height: 15px; }

.box-white {
  border: 1px solid #fff;
  background-color: transparent;
  width: 15px;
  height: 15px; }
  .box-white.bg-white {
    background-color: #fff; }

.position-top-left {
  position: absolute;
  left: -7px;
  top: -8px; }

.position-top-right {
  position: absolute;
  right: -7px;
  top: -8px; }

.position-bottom-left {
  position: absolute;
  left: -7px;
  bottom: -8px; }

.position-bottom-right {
  position: absolute;
  right: -7px;
  bottom: -8px; }

.overflow-y {
  overflow-y: hidden; }

.blog-thank {
  display: none;
  background-color: #fff;
  width: 100%;
  z-index: 80;
  position: relative;
  padding: 60px 0;
  text-align: center;
  margin-top: -351px; }
  .blog-thank h6 {
    padding-bottom: 38px;
    letter-spacing: 0.5; }
  .blog-thank .button-yellow {
    padding: 15px 70px; }
  .blog-thank p.close-thank {
    margin-top: 40px;
    padding-bottom: 0;
    color: #666666;
    cursor: pointer; }
  .blog-thank.active {
    display: block; }

.overlay-container {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 70; }
  .overlay-container.blog.active {
    display: block; }
    .overlay-container.blog.active .overlay-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: 70; }
  .overlay-container .overlay-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 70; }

.all-menu {
  opacity: 0; }
  .all-menu.active {
    opacity: 1; }

input.search-input {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  input.search-input:focus {
    outline: none; }

.search-menu {
  top: 12px;
  padding-left: 20px;
  margin-right: 15px; }
  .search-menu .search {
    top: -53px;
    position: absolute; }
    .search-menu .search a.nav-link {
      padding: 0; }

.search-bar {
  display: none;
  position: absolute;
  right: 20px;
  width: 50%;
  top: 30px;
  z-index: 999; }
  .search-bar input {
    width: 80%;
    margin-left: 20px;
    color: #fff; }
    .search-bar input:focus {
      text-decoration: none;
      outline: none; }
  .search-bar a {
    color: #fff;
    display: inline-block; }
  .search-bar.active {
    display: inline-block; }
  .search-bar:focus {
    text-decoration: none;
    outline: none; }
  .search-bar .close {
    color: #fff;
    right: 10px; }

.navbar-dark .navbar-toggler {
  border: none;
  margin-right: 10px; }

.navbar-nav:focus {
  outline: none; }

.close-menu {
  position: absolute;
  right: 20px; }

.choose-cate {
  padding-top: 20px; }

@media screen and (max-width: 1200px) {
  .nav-blog a {
    line-height: 1;
    margin-bottom: 0;
    font-size: 24px; } }

@media screen and (max-width: 992px) {
  .item-card {
    margin: 20px auto; }
    .item-card.width-custom {
      width: 45%;
      margin-left: 10px !important; }
  .job {
    font-size: 48px; }
    .job h6 {
      font-size: 60px;
      font-weight: bold;
      letter-spacing: 5px; }
    .job a {
      font-size: 36px; }
    .job .job-detail-item {
      padding: 30px 0; }
      .job .job-detail-item .des:after {
        font-family: FontAwesome;
        content: "\f054";
        float: right;
        font-size: 20px; }
  .pb-18rem {
    padding-bottom: 4rem !important; }
  .padding-form {
    padding-top: 200px; }
  .social {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; }
    .social a {
      color: #909093;
      margin: 0 20px;
      font-size: 20px;
      padding-left: 0; }
  .item-work.ourwork-item {
    max-width: 46%;
    margin: 10 auto; }
  .social.blogdetail {
    width: 100%;
    display: inline-block;
    position: relative;
    float: left;
    right: 0;
    left: 0;
    margin: 30px auto;
    margin-bottom: 0;
    top: auto; }
    .social.blogdetail a {
      float: left; }
      .social.blogdetail a:first-child {
        margin-left: 0; }
    .social.blogdetail .center {
      width: 282px;
      margin: 0 auto; }
  .search-bar {
    right: 20px;
    width: 60%; }
    .search-bar input {
      width: 80%;
      margin-left: 20px; } }

@media screen and (max-width: 768px) {
  .f-50 {
    font-size: 36px; }
  .button-border-white-big {
    letter-spacing: 5px;
    font-weight: bold; }
  .part-three .quotes {
    padding-top: 23px; }
  .whoweare {
    margin-top: -170px; }
  .search-bar.active {
    display: none; }
  .nav-blog a {
    line-height: 1;
    margin-bottom: 0;
    font-size: 20px; }
  .choose-cate {
    padding-top: 70px; } }

@media screen and (max-width: 569px) {
  .quotes {
    font-size: 22px;
    padding-top: 30px; }
  .item-card.width-custom {
    max-width: 100%;
    margin: 20px auto !important; }
  .margin-lr-0-mb {
    margin: 0 auto; }
  .big-title {
    font-size: 55px; }
  .item-work .line-yellow {
    margin: 25px auto; }
  .item-work .overlay .row h4 {
    font-size: 30px; }
  footer h2 {
    font-size: 63px;
    padding-bottom: 0px; }
  footer h4 {
    font-size: 32px;
    padding-top: 25px; }
  footer h6 {
    font-size: 20px;
    line-height: 1; }
  footer a {
    font-size: 32px; } }

@media screen and (max-width: 480px) {
  .item-work .line-yellow {
    margin: 10px auto; }
  .item-work .overlay .row h4 {
    font-size: 22px; }
  .item-work .overlay .row p {
    font-size: 18px; }
  .item-card.width-custom {
    width: 100%;
    margin-left: 0px !important; } }
